@import url("https://use.typekit.net/xua0kse.css");

body {
  background-color: #181818;
}

.btn-custom-launch {
  background-color: #1db954;
  color: white;
  width: 200px;
  margin: 5px 0px;
}

.btn-custom-green {
  background-color: #1db954;
  color: white;
  width: 155px;
  margin: 5px 0px;
}

.btn-custom-launch:hover,
.btn-custom-green:hover {
  background-color: #139641;
  color: white;
}

.btn-custom-launch:focus,
.btn-custom-green:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none;
}

.btn-custom-grey {
  background-color: #ddac1a;
  color: white;
  width: 155px;
  margin: 5px 0px;
}

.btn-custom-grey:hover {
  background-color: #b68c11;
  color: white;
}

.btn-custom-grey:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none;
}

.btn-custom-blue {
  background-color: #686664;
  color: white;
  width: 155px;
  margin: 5px 0px;
}

.btn-custom-blue:hover {
  background-color: #4b4a47;
  color: white;
}

.btn-custom-blue:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none;
}

.popup-content {
  background: rgb(255, 255, 255);
  border-radius: 6px;
  margin-bottom: 12px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
  margin: 5px;
}

[role="tooltip"].popup-content {
  padding: 7px 14px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.3);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
