.loading-page-container-appear {
  opacity: 0;
}

.loading-page-container-appear-active {
  opacity: 1;
  transition: opacity 2000ms;
}

.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.loading-text {
  margin-top: 80px;
  color: white;
  font-size: 16px;
  font-family: input-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.spinner {
  transition: all 1s;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.dashboard-title {
  text-decoration: none;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 700;
  font-family: korolev, sans-serif;
  font-style: normal;
  color: #ddd;
  text-align: center;
  transition: all 0.3s;
}

.dashboard-title:hover {
  color: #1db954;
}

.image-viewer {
  background-color: #ddd;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 375px;
  min-height: 560px;
  padding: 30px;
  transition: all 1s;
}

.get-album-btn,
.show-result-btn {
  font-size: 14px;
  font-family: input-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.album-placeholder {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-top: 120px;
  font-size: 22px;
  font-weight: 500;
  font-family: input-serif, serif;
  font-style: normal;
}

.playlist-name {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  font-family: input-sans, sans-serif;
  font-weight: 700;
}

.playlist-header {
  font-weight: 400;
  margin-bottom: 4px;
}
