.album-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.album-info-text {
  margin-top: 15px;
}

.album-title {
  color: black;
  font-size: 20px;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  visibility: hidden;
}

.artist-name {
  color: black;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  visibility: hidden;
}

.show {
  visibility: visible;
}
